asgiref==3.7.2
certifi==2024.7.4
charset-normalizer==3.2.0
Django==4.2.20
djangorestframework==3.14.0
idna==3.7
pytz==2023.3
prtls-utils @ git+https://github.com/protellus/prtls-utils.git@main
requests==2.32.2
sqlparse==0.5.0
tzdata==2025.1
urllib3==1.26.19
